@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rakkas:wght@400;500&display=swap');

:root {
    --black: rgba(0, 0, 0, 1);
    --light-blue: rgba(30, 136, 229, 1);
    --soft-black: rgba(32, 32, 32, 1);
    --light-grey: rgb(177, 177, 177);
    --white: rgba(255, 255, 255, 1);
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    background-color: var(--soft-black);
}
.container {
    width: 100%;
    min-height: 100vh;
    padding: 0 5%;
    box-sizing: border-box;
    overflow: hidden;
    /* background-color: rgb(116, 116, 116); */
}
.navbar {
    width: 100%;
    padding: 1% 0;
    display: flex;
}
.logo {
    display: flex;
    align-items: center;
    margin-right: 5%;
}
.rk {
    color: var(--white);
    font-family: 'Rakkas';
    font-size: 54px;
    font-weight: 400;
    letter-spacing: -7.60px;
    text-decoration: none;
    padding-left: 6%;
}
.logoPic {
    width: 70px;
    cursor: pointer;
}
.menu-icon {
    display: none;
    margin-left: 3%;
    align-items: center;
}
.menu-icon img{
    width: 25px;
    cursor: pointer;
}
.menuNavbar{
    align-self: center;
    flex: 1;
}
.menuNavbar ul {
    text-align: end;
}
.menuNavbar ul li{
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 500;
    list-style: none;
    display: inline-block;
    margin-left: 4%;
}
.menuNavbar ul li a {
    text-decoration: none;
    color: var(--white);
}
.menuNavbar ul li a:hover {
    color: var(--light-grey);
}
.row-profile {
    display: flex;
    margin: 50px 0;
}
.col-profileText {
    flex-basis: 50%;
    margin: 0 70px;
    padding: 50px 0;
}
.col-profileText h3 {
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 500;
    color: var(--white);
    margin-bottom: 16px;
}
.col-profileText h2 {
    font-family: 'Inter';
    font-size: 42px;
    font-weight: 600;
    color: var(--light-blue);
    margin-bottom: 16px;
}
.col-profileText p {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
    line-height: 26px;
    margin-bottom: 40px;
}
.col-profileText .btn-contactme {
    text-decoration: none;
    color: var(--soft-black);
    background-color: var(--white);
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 500;
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 25px;
}
.col-profileText .btn-contactme:hover {
    color: var(--white);
    background-color: var(--light-blue);
}
.col-profileImage {
    display: flex;
    flex-basis: 50%;
    place-content: center;
    place-items: center;
}
.col-profileImage .imgProfile {
    width: 350px;
    justify-content: center;
}
.headline {
    color: var(--white);
    font-family: 'Inter';
    font-size: 22px;
    font-weight: 500;
}
.smallLine {
    width: 30px;
    height: 2px;
    background-color: white;
    margin: 10px auto;
}
.smallBox {
    height: 12px;
}
.row-skill {
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
}
.row-skill .cardIcon {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.094);
    min-height: 100px;
    border-radius: 20px;
    margin: 25px auto;
}
.row-skill .cardIcon a {
    text-decoration: none;
}
.row-skill .cardIcon img {
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
}

.row-project {
    align-items: center;
    text-align: center; 
}
.row-project .row-listProject {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px auto;
}
.row-listProject .col-project {
    flex-basis: 28%;
    min-height: 450px;
    margin: 0 16px 16px 16px;
}
.row-listProject .col-project img {
    width: 100%;
    border-radius: 30px;
    filter: brightness(80%);
}
.row-listProject .col-project img:hover {
    filter: brightness(100%);
}
.row-listProject .col-project h5 {
    color: var(--white);
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    margin: 16px 0;
}
.row-listProject .col-project .btn-viewlink {
    color: var(--white);
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
    text-decoration: none;
}
.row-listProject .col-project a {
    color: var(--white);
    border: 1.5px solid var(--soft-black);
    background-color: var(--light-blue);
    padding: 10px 20px;
}
.row-listProject .col-project a:hover {
    color: var(--white);
    border: 1.5px solid white;
    background-color: var(--soft-black);
    padding: 10px 20px;
}

@media only screen and (max-width:700px) {
    .menuNavbar ul {
        display: none;
        width: 95%;
        background-color: var(--light-grey);
        position: absolute;
        top: 85px;
        right: 0;
        border-radius: 0 0 0 40px;
    }
    .menuNavbar ul li {
        display: inline-block;
        background-color: var(--light-grey);
        margin: 20px 15px;
    }
    .menuNavbar ul li a {
        background-color: var(--light-grey);
        color: var(--soft-black);
    }
    .menuNavbar ul li a:hover {
        background-color: var(--light-grey);
        color: var(--light-blue);
    }
    .menu-icon {
        display: flex;
    }
    .row-profile {
        flex-direction: column-reverse;
        margin: 25px 0;
    }
    .col-profileImage {
        flex-basis: 100%;
        place-content: center;
    }
    .col-profileImage .imgProfile {
        width: 75%;
    }
    .col-profileText {
        flex-basis: 100%;
        margin: 0 45px;
    }
    .col-profileText h3 {
        font-size: 24px;
        margin-bottom: 16px;
    }
    .col-profileText h2 {
        font-size: 34px;
        margin-bottom: 16px;
    }
    .col-profileText p {
        font-size: 14px;
    }
    .col-profileText .btn-contactme {
        font-size: 14px;
        padding: 10px 16px;
    }
    .row-skill {
        margin-bottom: 20px;
    }
    .row-skill .cardIcon {
        display: inline-block;
        width: 100%;
    }
    .row-skill .cardIcon img {
        margin: 20px 15px;
    }
    .row-project {
        align-items: center;
        text-align: center; 
    }
    .row-project .row-listProject {
        display: inline-block;
        align-items: center;
        justify-content: center;
        margin: 25px auto;
    }
    .row-listProject .col-project {
        margin: 0 16px 26px 16px;
    }
}