@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rakkas:wght@400;500&display=swap');

:root {
    --black: rgba(0, 0, 0, 1);
    --light-blue: rgba(30, 136, 229, 1);
    --soft-black: rgba(32, 32, 32, 1);
    --light-grey: rgb(177, 177, 177);
    --white: rgba(255, 255, 255, 1);
}

*{
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--soft-black);
    font-family: 'Inter';
    color: var(--white);
}
/* All Content */
.container {
    width: 100%;
    min-height: 100vh;
    padding: 0 5%;
    box-sizing: border-box;
    overflow: hidden;
}

/* Navigasi Atas */
.navbar {
    width: 100%;
    padding: 1% 0;
    display: flex;
}
.logo {
    display: flex;
    align-items: center;
    margin-right: 5%;
}
.rk {
    color: var(--white);
    font-family: 'Rakkas';
    font-size: 54px;
    font-weight: 400;
    letter-spacing: -7.60px;
    text-decoration: none;
    padding-left: 6%;
}
.logoPic {
    width: 70px;
    cursor: pointer;
}
.menu-icon {
    display: none;
    margin-left: 3%;
    align-items: center;
}
.menu-icon img{
    width: 30px;
    cursor: pointer;
}
.menuNavbar{
    align-self: center;
    flex: 1;
}
.menuNavbar ul {
    text-align: end;
}
.menuNavbar ul li{
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 500;
    list-style: none;
    display: inline-block;
    margin-left: 4%;
}
.menuNavbar ul li a {
    text-decoration: none;
    color: var(--white);
}
.menuNavbar ul li a:hover {
    color: var(--light-grey);
}

/* Section Short Profile */
.row-profile {
    display: flex;
    margin: 50px 0;
}
.col-profileText {
    flex-basis: 50%;
    margin: 0 70px;
    /* padding: 50px 0; */
    align-self: center;
}
.col-profileText h3 {
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 500;
    color: var(--white);
    margin-bottom: 16px;
}
.col-profileText h2 {
    font-family: 'Inter';
    font-size: 42px;
    font-weight: 600;
    color: var(--light-blue);
    margin-bottom: 16px;
}
.col-profileText p {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
    line-height: 26px;
    margin-bottom: 40px;
}
.col-profileText .btn-contactme {
    text-decoration: none;
    color: var(--soft-black);
    background-color: var(--white);
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 500;
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 25px;
}
.col-profileText .btn-contactme:hover {
    color: var(--white);
    background-color: var(--light-blue);
}
.col-profileImage {
    display: flex;
    flex-basis: 50%;
    place-content: center;
    place-items: center;
}
.col-profileImage .imgProfile {
    width: 350px;
    justify-content: center;
}

/* Style Judul */
.headline {
    color: var(--white);
    font-family: 'Inter';
    font-size: 22px;
    font-weight: 500;
}
.container ul li a.active {
    color: var(--light-blue);
}
.smallLine {
    width: 30px;
    height: 2px;
    background-color: white;
    margin: 10px auto;
}
.smallBox {
    height: 12px;
}

/* Section List Skill */
.row-skill {
    align-items: center;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 40px;
}
.row-skill .cardIcon {
    display: flex;
    width: 93%;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.094);
    min-height: 100px;
    border-radius: 20px;
    margin: 25px auto;
}
.row-skill .cardIcon a {
    text-decoration: none;
}
.row-skill .cardIcon img {
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
}

/* Section List Projects */
.row-project {
    align-items: center;
    text-align: center;
    padding: 20px 0 60px 0;
}
.row-project .row-listProject {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 25px auto 10px auto;
}
.row-listProject .col-project {
    flex-basis: 28%;
    margin: 0 2% 3% 2%;
}
.row-listProject .col-project img {
    width: 100%;
    border-radius: 30px;
    filter: brightness(85%);
}
.row-listProject .col-project img:hover {
    filter: brightness(100%);
}
.row-listProject .col-project h5 {
    color: var(--white);
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    margin: 16px 0;
}
.row-project .btn-viewlink {
    color: var(--white);
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 400;
    border-radius: 10px;
    text-decoration: none;
}
.row-project a {
    color: var(--white);
    border: 1.5px solid var(--soft-black);
    background-color: var(--light-blue);
    padding: 10px 20px;
}
.row-project a:hover {
    color: var(--white);
    border: 1.5px solid white;
    background-color: var(--soft-black);
    padding: 10px 20px;
}

/* Section Footer */
.row-footer {
    padding: 2% 4%;
    margin: 0;
    background-color: var(--black);
}
.row-footer .top-footer {
    display: flex;
}
.top-footer .rk-footer {
    color: var(--white);
    font-family: 'Rakkas';
    font-size: 54px;
    font-weight: 400;
    letter-spacing: -7.60px;
    text-decoration: none;
}
.top-footer .sosmed-footer {
    display: flex;
    flex: 1;
    text-align: end;
    align-items: center;
    justify-content: end;
}
.top-footer .sosmed-footer a img {
    height: 30px;
}
.top-footer .sosmed-footer a {
    padding-left: 5%;
}
.bottom-footer {
    padding-top: 1%;
}
.bottom-footer .copyright{
    color: var(--white);
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
}

@media only screen and (max-width:750px) {
    /* Navigasi Atas */
    .menuNavbar ul {
        display: none;
        padding: 1% 0;
        text-align: center;
        width: 95%;
        background-color: var(--soft-black);
        box-shadow: rgba(255, 255, 255, 0.12) 0px 2px 0px, rgba(255, 255, 255, 0.24) 0px 2px 2px;
        position: absolute;
        top: 85px;
        right: 0;
        border-radius: 0 0 0 40px;
    }
    .menuNavbar ul li {
        display: inline-block;
        font-size: 16px;
        margin: 20px 3.5%;
    }
    .menuNavbar ul li a {
        color: var(--white);
    }
    .menuNavbar ul li a:hover {
        color: var(--light-blue);
    }
    .menu-icon {
        display: flex;
    }

    /* Section Short Profile */
    .row-profile {
        flex-direction: column-reverse;
        margin: 25px 0;
    }
    .col-profileImage {
        flex-basis: 100%;
        place-content: center;
    }
    .col-profileImage .imgProfile {
        width: 75%;
    }
    .col-profileText {
        flex-basis: 100%;
        margin: 0 45px;
    }
    .col-profileText h3 {
        font-size: 24px;
        margin-bottom: 16px;
    }
    .col-profileText h2 {
        font-size: 35px;
        margin-bottom: 16px;
    }
    .col-profileText p {
        font-size: 16px;
    }
    .col-profileText .btn-contactme {
        font-size: 16px;
        padding: 10px 16px;
    }

    /* Section List Skill */
    .row-skill {
        margin-bottom: 20px;
    }
    .row-skill .cardIcon {
        display: inline-block;
        width: 93%;
    }
    .row-skill .cardIcon img {
        margin: 20px 15px;
    }
    /* Section List Projects */
    .row-project {
        align-items: center;
        text-align: center; 
    }
    .row-project .row-listProject {
        display: inline-block;
        align-items: center;
        justify-content: center;
        margin: 25px auto 15px auto;
    }
    .row-listProject .col-project {
        margin: 0 4% 6% 4%;
    }
    .row-listProject .col-project img {
        width: 70%;
        filter: brightness(100%);
    }

    /* Section Footer */
    .row-footer {
        padding: 3% 6%;
    }
    .top-footer .rk-footer {
        font-size: 45px;
    }
    .top-footer .sosmed-footer a img {
        height: 25px;
    }
    .top-footer .sosmed-footer a {
        padding-left: 8%;
    }
    .bottom-footer .copyright{
        font-size: 14px;
    }
}

@media only screen and (max-width:550px) {
    .row-listProject .col-project {
        margin: 0 4% 10% 4%;
    }
    .row-listProject .col-project img {
        width: 95%;
        filter: brightness(100%);
    }
}